name: Ensure docs are up to date

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  check_docs:
    runs-on: k8s-small
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Generate docs
        run: make docs

      - name: Check for changes
        run: git diff --exit-code
