name: Ensure source code is properly formatted

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  fmt:
    runs-on: [dataplane, self-hosted, linux, x64, small]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.5"
          cache: true

      - name: Run fmt
        run: make fmt

      - name: Check for changes
        run: git diff --exit-code



