name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: "The semver formatted version for the new release i.e 0.3.1"
      test_upgrade:
        type: boolean
        required: false
        default: true
        description: "Additionally run upgrade test from latest stable version of the plugin to the one being released"

defaults:
  run:
    shell: bash

jobs:
  # Validate the input
  validate:
    runs-on: k8s-nano
    outputs:
      enable_alpha: ${{ steps.check.outputs.enable_alpha }}
      goreleaser_config: ${{ steps.check.outputs.goreleaser_config }}
    steps:
      - name: Check input
        id: check
        run: |
          version="${{ inputs.version }}"
          enable_alpha=""
          goreleaser_config=""

          # validate semver.
          if [[ $version =~ ^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-((0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9][0-9]*|[0-9]*[a-zA-Z-][0-9a-zA-Z-]*))*))?(\+([0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*))?$ ]]; then
            echo "Valid release version: $version"

            if [[ $version =~ ^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)$ ]]; then
              # Release is something like x.y.z
              enable_alpha="false"
              goreleaser_config=".goreleaser-stable.yml"
            else
              # Release is something like x.y.z-something
              enable_alpha="true"
              goreleaser_config=".goreleaser-alpha.yml"
            fi
          else
            echo "Invalid semver: \"$version\". Must be something like 1.2.3 without leading \"v\""
            exit 1
          fi

          echo "enable_alpha=${enable_alpha}" >> "${GITHUB_OUTPUT}"
          echo "goreleaser_config=${goreleaser_config}" >> "${GITHUB_OUTPUT}"

  # Generate a random token to tag the tests with
  token:
    needs: ["validate"]
    outputs:
      token: ${{ steps.generate.outputs.token }}
    runs-on: k8s-nano
    steps:
      - name: Generate
        id: generate
        run: |
          # Number of seconds since January first 2025.
          token=$(( $(date +%s) - $(date -d "Jan 1, 2025 00:00:00" +%s) ))
          echo "token=${token}" >> "${GITHUB_OUTPUT}"

  # Find the 3 most recent releases of terraform CLI (one for each minor)
  find-tf-releases:
    needs: ["validate"]
    outputs:
      releases: ${{ steps.find.outputs.releases }}
    runs-on: k8s-nano
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Find TF releases
        uses: ./.github/actions/find-tf-releases
        id: find

  # List examples split by cloud provider as a JSON
  list-examples:
    needs: ["validate"]
    outputs:
      examples: ${{ steps.list.outputs.examples }}
    runs-on: k8s-nano
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: ./.github/actions/list-examples
        id: list
        with:
          ignore: pci

  # Run e2e tests
  e2e:
    needs: [ "validate", "token", "find-tf-releases", "list-examples" ]
    runs-on: k8s-large
    environment: default
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        tf_release: ${{ fromJSON(needs.find-tf-releases.outputs.releases) }}
        test: ${{ fromJSON(needs.list-examples.outputs.examples) }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Generate service name
        uses: ./.github/actions/generate-service-name
        id: service_name
        with:
          test_type: e2e
          test_name: ${{ matrix.test.name }}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.test.cloud }}
          token: ${{ needs.token.outputs.token }}

      - name: Get API details for env
        id: credentials
        env:
          api_env: "Production"
          api_env_production: "${{ secrets.API_ENV_PRODUCTION }}"
          api_env_staging: "${{ secrets.API_ENV_STAGING }}"
          api_env_development: "${{ secrets.API_ENV_DEVELOPMENT }}"
        run: |
          bash ./.github/scripts/set_api_env.sh ${{ matrix.test.cloud }}

      - name: E2E
        uses: ./.github/actions/e2e
        with:
          api_url: ${{ steps.credentials.outputs.api_url }}
          organization_id: ${{ steps.credentials.outputs.organization_id }}
          token_key: ${{ steps.credentials.outputs.api_key_id }}
          token_secret: ${{ steps.credentials.outputs.api_key_secret }}
          service_name: ${{steps.service_name.outputs.service_name}}
          test_name: ${{ matrix.test.name }}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.test.cloud }}
          upgrade_test: "false"
          region: ${{ contains(fromJSON('["hipaa", "pci"]'), matrix.test.name) && steps.credentials.outputs.compliance_region || steps.credentials.outputs.region }}
          aws_role_arn: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Cleanup Cloud
        if: always()
        uses: ./.github/actions/cleanup-cloud
        with:
          cloud_provider: ${{ matrix.test.cloud }}
          service_name: ${{steps.service_name.outputs.service_name}}
          aws_region: ${{ steps.credentials.outputs.region }}
          aws_role_arn: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  # Run e2e tests
  upgrade:
    needs: [ "validate", "token", "find-tf-releases", "list-examples" ]
    runs-on: k8s-large
    environment: default
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        tf_release: ${{ fromJSON(needs.find-tf-releases.outputs.releases) }}
        test: ${{ fromJSON(needs.list-examples.outputs.examples) }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Generate service name
        uses: ./.github/actions/generate-service-name
        id: service_name
        with:
          test_type: upg
          test_name: ${{ matrix.test.name }}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.test.cloud }}
          token: ${{ needs.token.outputs.token }}

      - name: Get API details for env
        id: credentials
        env:
          api_env: "Production"
          api_env_production: "${{ secrets.API_ENV_PRODUCTION }}"
          api_env_staging: "${{ secrets.API_ENV_STAGING }}"
          api_env_development: "${{ secrets.API_ENV_DEVELOPMENT }}"
        run: |
          bash ./.github/scripts/set_api_env.sh ${{ matrix.test.cloud }}

      - name: Upgrade
        if: ${{inputs.test_upgrade }}
        uses: ./.github/actions/e2e
        with:
          api_url: ${{ steps.credentials.outputs.api_url }}
          organization_id: ${{ steps.credentials.outputs.organization_id }}
          token_key: ${{ steps.credentials.outputs.api_key_id }}
          token_secret: ${{ steps.credentials.outputs.api_key_secret }}
          service_name: ${{steps.service_name.outputs.service_name}}
          test_name: ${{ matrix.test.name }}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.test.cloud }}
          upgrade_test: "true"
          region: ${{ contains(fromJSON('["hipaa", "pci"]'), matrix.test.name) && steps.credentials.outputs.compliance_region || steps.credentials.outputs.region }}
          aws_role_arn: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Cleanup Cloud
        if: always()
        uses: ./.github/actions/cleanup-cloud
        with:
          cloud_provider: ${{ matrix.test.cloud }}
          service_name: ${{steps.service_name.outputs.service_name}}
          aws_region: ${{ steps.credentials.outputs.region }}
          aws_role_arn: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


  # Run import tests
  import:
    outputs:
      status: ${{ steps.status.outputs.status }}
    needs: [ "token", "find-tf-releases" , "e2e"]
    runs-on: k8s-large
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        tf_release: ${{ fromJSON(needs.find-tf-releases.outputs.releases) }}
        cloud_provider: [ "aws", "azure", "gcp" ]
        test_name : ["generic"]
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Generate service name
        uses: ./.github/actions/generate-service-name
        id: service_name
        with:
          test_type: import
          test_name: ${{ matrix.test_name }}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.cloud_provider }}
          token: ${{ needs.token.outputs.token }}

      - name: Get API details for env
        id: credentials
        env:
          api_env: "Production"
          api_env_production: "${{ secrets.API_ENV_PRODUCTION }}"
          api_env_staging: "${{ secrets.API_ENV_STAGING }}"
          api_env_development: "${{ secrets.API_ENV_DEVELOPMENT }}"
        run: |
          bash ./.github/scripts/set_api_env.sh ${{ matrix.cloud_provider }}

      - name: Import
        id: import
        uses: ./.github/actions/import
        with:
          api_url: ${{ steps.credentials.outputs.api_url }}
          organization_id: ${{ steps.credentials.outputs.organization_id }}
          token_key: ${{ steps.credentials.outputs.api_key_id }}
          token_secret: ${{ steps.credentials.outputs.api_key_secret }}
          service_name: ${{steps.service_name.outputs.service_name}}
          tf_release: ${{ matrix.tf_release }}
          cloud_provider: ${{ matrix.cloud_provider }}
          region: ${{ steps.credentials.outputs.region }}


  report:
    runs-on: k8s-nano
    needs: [ "e2e", "import", "upgrade" ]
    if: always()
    steps:
      - name: Report Failure on slack
        if: ${{ needs.e2e.result == 'failure' || needs.import.result == 'failure' || needs.upgrade.result == 'failure' }}
        uses: ravsamhq/notify-slack-action@be814b201e233b2dc673608aa46e5447c8ab13f2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: 'failure'
          notification_title: "E2E tests failed for {branch}"
          footer: "{run_url}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}

  # Delete any leftover service that might have failed deleting
  cleanup:
    runs-on: k8s-small
    needs: [ "e2e", "import", "upgrade", "token" ]
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Get API details for env
        id: credentials
        env:
          api_env: "Production"
          api_env_production: "${{ secrets.API_ENV_PRODUCTION }}"
          api_env_staging: "${{ secrets.API_ENV_STAGING }}"
          api_env_development: "${{ secrets.API_ENV_DEVELOPMENT }}"
        run: |
          bash ./.github/scripts/set_api_env.sh

      - name: Cleanup ClickHouse
        uses: ./.github/actions/cleanup-clickhouse
        with:
          api_url: ${{ steps.credentials.outputs.api_url }}
          organization_id: ${{ steps.credentials.outputs.organization_id }}
          token_key: ${{ steps.credentials.outputs.api_key_id }}
          token_secret: ${{ steps.credentials.outputs.api_key_secret }}
          token: ${{needs.token.outputs.token}}

  # Bump the provider version in the examples directory
  bump-examples:
    needs: [ "validate", "e2e", "import", "upgrade" ]
    if: ${{ needs.e2e.result != 'failure' && needs.import.result != 'failure' && needs.upgrade.result != 'failure' }}
    runs-on: k8s-small
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: "main"
          ssh-key: ${{secrets.DEPLOY_SSH_PRIVATE_KEY }}

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Bump provider version in examples for stable version
        if: ${{ needs.validate.outputs.enable_alpha == 'false' }}
        run: |
          version="${{ inputs.version }}"

          # Bump semver in examples
          export CLICKHOUSE_TERRAFORM_PROVIDER_VERSION="$version"
          for f in `find . -name provider.tf.template`
          do
            dst="${f%.template}"
            cat $f | envsubst > $dst

            sed -i '1s/^/# This file is generated automatically please do not edit\n/' $dst
          done

      - name: Bump provider version in examples for alpha version
        if: ${{ needs.validate.outputs.enable_alpha == 'true' }}
        run: |
          version="${{ inputs.version }}"

          # Bump semver in examples
          export CLICKHOUSE_TERRAFORM_PROVIDER_VERSION="$version"
          for f in `find . -name provider.tf.template.alpha`
          do
            dst="${f%.template.alpha}"
            cat $f | envsubst > $dst

            sed -i '1s/^/# This file is generated automatically please do not edit\n/' $dst
          done

      - name: Build docs for stable release
        if: ${{ needs.validate.outputs.enable_alpha == 'false' }}
        run: |
          make docs

      - name: Build docs for alpha release
        if: ${{ needs.validate.outputs.enable_alpha == 'true' }}
        run: |
          make docs-alpha

      - name: Commit
        run: |
          git add docs/resources/
          git diff --quiet --exit-code && (echo "No changes detected" && exit 0)
          git config --global user.name "Release Github Action"
          git config --global user.email "bot@users.noreply.github.com"
          git commit -a -m "Bump provider version in examples to ${{ inputs.version }}"
          git push

  # Create tag for the release
  tag:
    runs-on: k8s-small
    permissions:
      contents: write
      pull-requests: write
    needs: [ "e2e", "import", "upgrade", "bump-examples" ]
    if: ${{ needs.e2e.result != 'failure' && needs.import.result != 'failure' && needs.upgrade.result != 'failure' }}
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      with:
        ref: "main"
    - name: Create tag
      run: |
        tag="v${{ inputs.version }}"
        git tag $tag
        git push origin $tag

  # Make a new release out of the tag
  goreleaser:
    permissions:
      contents: write
    runs-on: k8s-medium
    needs: [ "validate", "tag", "e2e", "import", "upgrade" ]
    if: ${{ needs.e2e.result != 'failure' && needs.import.result != 'failure' && needs.upgrade.result != 'failure' }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: v${{inputs.version}}
          # Allow goreleaser to access older tag information.
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          args: release --clean --config ${{ needs.validate.outputs.goreleaser_config }}
        env:
          # GitHub sets the GITHUB_TOKEN secret automatically.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

  # After an alpha release, remove the alpha docs from main branch
  cleanup-alpha-examples:
    needs: [ "validate", "goreleaser" ]
    if: ${{ github.ref_name == 'main' && needs.validate.outputs.enable_alpha == 'true' }}
    runs-on: k8s-small
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ssh-key: ${{secrets.DEPLOY_SSH_PRIVATE_KEY }}
          ref: "main"

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Build docs for stable release
        run: |
          make docs

      - name: Commit
        run: |
          git add docs/resources/
          git diff --quiet --exit-code && (echo "No changes detected" && exit 0)
          git config --global user.name "Release Github Action"
          git config --global user.email "bot@users.noreply.github.com"
          git commit -a -m "Remove alpha docs from main branch"
          git push
