name: Shellcheck

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  shellcheck:
    runs-on: k8s-small
    name: Shellcheck
    permissions:
      pull-requests: read
    steps:
      - name: Check out repository code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c
        with:
          files: |
            **/*.sh

      - name: Run
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set -e
          for FILE in ${ALL_CHANGED_FILES}; do
            echo "==> Running shellcheck for ${FILE}"
            shellcheck "${FILE}"
            echo -e "Exit code: $?\n"
          done
