name: Shellcheck

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  shellcheck:
    runs-on: k8s-small
    name: Shellcheck
    permissions:
      pull-requests: read
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891
        with:
          files: |
            **/*.sh

      - name: Run
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set -e
          for FILE in ${ALL_CHANGED_FILES}; do
            echo "==> Running shellcheck for ${FILE}"
            shellcheck "${FILE}"
            echo -e "Exit code: $?\n"
          done
