name: Shellcheck

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  shellcheck:
    runs-on: k8s-small
    name: Shellcheck
    permissions:
      pull-requests: read
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21
        with:
          files: |
            **/*.sh

      - name: Run
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          set -e
          for FILE in ${ALL_CHANGED_FILES}; do
            echo "==> Running shellcheck for ${FILE}"
            shellcheck "${FILE}"
            echo -e "Exit code: $?\n"
          done
