name: Run go tests

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run fmt
        run: make test
