name: Run go tests

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run fmt
        run: make test
