name: Run go tests

on:
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: k8s-medium
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Run fmt
        run: make test
